name: pyinstaller
on:
  push:
    branches: [ main ]
jobs:
  build_binary:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.10.13]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up rye
      uses: sksat/setup-rye@v0.8.0
    - name: Sync dependencies using rye
      run: |
        rye pin ${{ matrix.python-version }}
        rye sync
    - name: Package application
      uses: JackMcKew/pyinstaller-action-linux@python3.10
      with:
        path: .
    - uses: actions/upload-artifact@v2
      with:
        name: stacosys
        path: dist/linux 
